{% extends 'base.html.twig' %}

{% block title %}New Pista{% endblock %}

{% block body %}
    <h1>Create new Pista</h1>

    {{ include('pista/_form.html.twig') }}

    <a href="{{ path('pista_index') }}">back to list</a>
{% endblock %}
